<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home python tutorial</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Home</h1>
    <!-- JINJA 2 -->
    {% for x in range(0,10) %} 
        {% if x % 2 == 1 %}
            <p>x</p>
            <p>{{x}}</p>
        {% endif %}
    {% endfor %}
</body>
</html>